.menu { grid-area: menu; }
.main { grid-area: main; }
    
.grid-container { 
    display: grid;
    grid-template-areas:
      'menu main main main main main'
      'menu main main main main main'
      'menu main main main main main';
    padding: 10px;
  }   

  #vid2 {
    position: fixed;
    max-width: 100%;
    width: 100vw;
    z-index: -1;
        }
  * {
      margin:0
    }

  * {
      box-sizing: border-box;
    }
    
    .navbar {
      overflow: hidden;
      background-color: #e9e9e9;
    }
  
    .navbar a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .navbar a.active {
      background-color: #2196F3;
      color: white;
    }
    
    .navbar .login-container {
      float: right;
    }
    
    .navbar input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
      width: 150px; 
    }
    
    .navbar .login-container button {
      float: right;
      padding: 6px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    .navbar .login-container button:hover {
      background: #ccc;
    }
 
    